@import url("main.css");

#title-section h2 {
  font-size: 1.6rem;
}

#title-section {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

#catalog-filters {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 50px;
}

#catalog-filters select {
  background-color: #0038ff;
  border: none;
  padding: 5px 20px;
  color: var(--text-color-main);
  font-family: var(--default-font);
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 0px 0px 10px 0px;
}

main {
  display: flex;
  justify-content: center;
}

#container-cards {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  width: 100%;
}

.card {
  margin-bottom: 50px;
  max-width: 180px;
}

.image-card {
  background-image: url(/img/ponte-para-terabitia.webp);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  border-radius: 20px;
  border: 2px solid var(--text-color-sec);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.288);
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
}

.year {
  background-color: var(--default-color);
  display: flex;
  justify-content: end;
  padding: 8px 15px;
  width: 40px;
  height: 20px;
  border-radius: 0px 15px 0px 15px;
  margin: 5px 5px 0px 0px;
  box-shadow: 0px 0px 10px var(--default-color);
  font-weight: 600;
  font-size: 1.1rem;
}

.box-info {
  background-color: rgba(255, 255, 255, 0.199);
  padding: 3px 8px;
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0.514);
  color: rgba(255, 255, 255, 0.664);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.397);
}

.title-card {
  margin-bottom: 15px;
}

.title-card p {
  font-size: 0.9rem;
  font-weight: 700;
}
