@import url("main.css");

#container-hero {
  background-image: url(/img/banner.webp);
  background-size: cover;
  box-shadow: inset 0 -50px 30px -10px #0a1748;
  background-position: center;
}
#details-button {
  background-color: var(--text-color-sec);
  padding: 10px 20px;
  border: 3px solid var(--text-color-main);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  margin-top: 50px;
}

#container-text-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
  padding-bottom: 50px;
  min-height: 200px;
  max-width: 1000px;
}

header {
  top: 0;
  background: none;
  padding-top: 30px;
}

#container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-header {
  display: flex;
  align-items: center;
}

#options-menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

#options-menu {
  width: 80%;
}

#options-menu a {
  text-decoration: none;
  color: var(--text-color-main);
  font-weight: 500;
  font-size: 1.2rem;
}

#menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#search-bar {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

#search-bar {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: var(--text-color-sec);
  border: 3px solid var(--text-color-main);
  border-radius: 15px;
  padding: 10px 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
}

#input-search {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  color: var(--text-color-main);
  font-size: 1rem;
}

#input-search::placeholder {
  font-weight: 600;
  color: var(--text-color-sec);
}

#search-bar img {
  max-width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
