@import url("main.css");

#container-hero {
  background-image: url(/img/banner.webp);
  background-size: cover;
  position: relative;
  z-index: 1;
}

#container-hero::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 60%;
  background: linear-gradient(to bottom, transparent, #0a1748);
  z-index: 1;
}

#details-button {
  background-color: var(--text-color-sec);
  padding: 10px 20px;
  border: 3px solid var(--text-color-main);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  z-index: 20;
}

#container-text-hero {
  background-color: green;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  background-color: red;
  height: 50px;
  width: 100%;
}
