@import url("main.css");

@media (min-width: 1024px) {
  #container-text-hero {
    top: 350px;
    position: relative;
    margin-left: 70px;
  }

  #container-text-hero h1 {
    font-size: 3rem;
  }

  #container-hero {
    height: 700px;
  }

  #line-top-catalog-sec {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .card {
    margin-bottom: 20px;
    min-width: 195px;
  }

  #title-section {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
  }

  #catalog-filters {
    margin-left: 70px;
    z-index: 10;
  }

  #container-team > div {
    display: grid;
    gap: 0px;
    margin-top: 20px;
    margin-left: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .member {
    width: 200px;
    margin: 10px;
  }

  #container-team {
    width: 500px;
  }

  #container-footer > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 90vw;
    margin: auto;
  }

  #container-cards {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    max-width: 95vw;
  }

  header {
    display: flex;
    justify-content: center;
  }
  #container-header {
    flex-direction: row;
    top: 0;
    position: absolute;
    width: 100%;
    max-width: 1400px;
    gap: 30px;
    justify-content: space-between;
  }

  #menu {
    flex-direction: row;
    margin-top: 0px;
    height: 100%;
    max-width: 900px;
    justify-content: space-between;
    padding: 20px;
  }

  #options-menu {
    height: 100%;
    width: 300px;
    justify-content: space-around;
  }

  #logo-header {
    margin-left: 20px;
  }

  #search-bar {
    width: 400px;
  }

  #container-hero-details {
    background-image: url(/vision/img/banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 -50px 40px -10px #0a1748;
  }


  .media-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;                
    max-width: 1200px;        
    margin: 0px 100px;          
    padding: 200px 20px;
    color: white;
  }

  .poster{
    display: flex;
    justify-content: center;
  }
  #image-media {
    width: 300px;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;
  }

  .media-rating {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .media-rating p {
    margin: 0;
    font-size: 20px;
  }

  #rating-image{
    width: 20px;
    height: 20px;   
  }

  .related-media {
    background-color: var(--backgroud-color);
    padding-top: 80px;
    box-shadow: inset 0 -50px 40px -10px #0a1748;
  }

  .media-infomation{
    display: flex;
    gap: 20px;
    align-items:flex-start;
  }

  .media-information p{
    padding: 10px;
  }

  .media-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start
  }

  .media-info p{
    font-size: 20px;
  } 

  .media-info p>span{
    font-size: 18px;
    color: rgb(180, 180, 180);
  }

  #title-related{
    text-align: center;
  }

  #container-cards {
    display: flex;
    justify-content: center; 
    align-items: center;       
    gap: 30px;                 
    flex-wrap: wrap;           
    width: 100%;
  }
}
