@import url("main.css");

@media (min-width: 1024px) {
  #button-search {
    display: none;
  }

  header {
    justify-content: start;
  }

  #menu {
    position: absolute;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
    display: block;
    left: 40%;
    margin-top: 25px;
  }

  #menu ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  #menu li {
    margin-bottom: 0;
  }

  #menu a {
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 4px;
  }

  #menu a:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  #overlay {
    display: none;
  }

  #hamburguer {
    display: none;
  }

  #container-text-hero {
    display: flex;
    min-width: 700px;
    margin-left: 200px;
    height: 250px;
    top: 200px;
    justify-content: center;
    position: relative;
  }

  #container-text-hero h1 {
    font-size: 3rem;
  }

  #container-hero {
    height: 700px;
  }

  #logo-header {
    margin-left: 100px;
  }

  #line-top-catalog-sec {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .card {
    margin-bottom: 20px;
    min-width: 195px;
  }

  #title-section {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
  }

  #catalog-filters {
    margin-left: 90px;
    z-index: 10;
  }

  #container-team > div {
    display: grid;
    gap: 0px;
    margin-top: 20px;
    margin-left: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .member {
    width: 200px;
    margin: 10px;
  }

  #container-team {
    width: 500px;
  }

  #container-footer > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 90vw;
    margin: auto;
  }

  #container-cards {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    max-width: 95vw;
  }
}
