@import url("main.css");

@media (min-width: 1024px) {
  #container-text-hero {
    display: flex;
    min-width: 700px;
    margin-left: 200px;
    height: 250px;
    top: 200px;
    justify-content: center;
    position: relative;
  }

  #container-text-hero h1 {
    font-size: 3rem;
  }

  #container-hero {
    height: 700px;
  }

  #line-top-catalog-sec {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .card {
    margin-bottom: 20px;
    min-width: 195px;
  }

  #title-section {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
  }

  #catalog-filters {
    margin-left: 90px;
    z-index: 10;
  }

  #container-team > div {
    display: grid;
    gap: 0px;
    margin-top: 20px;
    margin-left: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .member {
    width: 200px;
    margin: 10px;
  }

  #container-team {
    width: 500px;
  }

  #container-footer > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 90vw;
    margin: auto;
  }

  #container-cards {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    max-width: 95vw;
  }

  header {
    display: flex;
    justify-content: center;
  }
  #container-header {
    flex-direction: row;
    top: 0;
    position: absolute;
    width: 100%;
    max-width: 1400px;
    gap: 30px;
    justify-content: space-between;
  }

  #menu {
    flex-direction: row;
    margin-top: 0px;
    height: 100%;
    max-width: 900px;
    justify-content: space-between;
    padding: 20px;
  }

  #options-menu {
    height: 100%;
    width: 300px;
    justify-content: space-around;
  }

  #logo-header {
    margin-left: 20px;
  }

  #search-bar {
    width: 400px;
  }
}
