:root {
  --default-font: "Montserrat", sans-serif;
  --backgroud-color: #0a1748;
  --text-color-main: white;
  --text-color-sec: rgba(255, 255, 255, 0.616);
}

#search-barh > input {
  display: none;
}

#search-barh {
  background-color: var(--text-color-sec);
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 50%;
  border: 4px solid var(--text-color-main);
  position: fixed;
}

#search-barh > img {
  width: 20px;
}
