@import url("main.css");

#input-search {
  display: none;
}

#button-search {
  background-color: var(--text-color-sec);
  position: absolute;
  top: 10px;
  right: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 50%;
  border: 4px solid var(--text-color-main);
  position: fixed;
}

#button-search > img {
  width: 20px;
}

#input-search > img {
  width: 20px;
}
