@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A1748;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team {
    width: 100%;
    max-width: 960px;
}

.team-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.team-title:after {
    content: "";
    padding: 2px;
    background-color:#fff;
    display: flex;
    margin: 0 auto;
    width: 50%;
    margin-top: 1rem;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.team-list li {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.team-figure {
    width: 120px;
    height: 120px;
    border-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.team-figure img {
    width: 100%;
    filter: grayscale(100%);
}

.team-link:hover .team-figure img {
    filter: none;
}

.team-description {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}

.team-description:target {
    display: flex;
}

.team-name { 
    text-transform: uppercase;
    font-size: 1.5rem;
}

.team-name:after {
    content: "";
    padding: 0px;
    background-color:#fff;
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin-top: 1.5rem;
}

.team-description-developer {
    margin-top: 1rem;
    font-size: 0.9rem;
}


@media (min-width: 768px) {
    .container {
        padding: 2rem;
    }

    .team-title {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    .team-title:after {
        width: 40%;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5rem;
    }

    .team-list li {
        width: auto;
        display: flex;
        justify-content: center;
    }

    .team-figure {
        width: 140px;
        height: 140px;
    }

    .team-name {
        font-size: 1.7rem;
    }

    .team-description-developer {
        font-size: 1rem;
    }
} 

@media (min-width: 1024px) {
    .container {
        padding: 2rem;
    }

    .team {
        width: 960px;
    }

    .team-title {
        font-size: 2.2rem;
        margin-bottom: 3rem;
    }

    .team-title:after {
        width: 30%;
    }

    .team-list {
        flex-direction: row;
        justify-content: space-around;
        gap: 3rem;
    }

    .team-list li {
        margin: 2rem 0;
    }

    .team-figure {
        width: 160px;
        height: 160px;
    }

    .team-name {
        font-size: 1.9rem;
    }

    .team-name:after {
        margin-top: 2rem;
    }

    .team-description-developer {
        font-size: 1.1rem;
    }
}