@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A1748;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team {
    width: 960px;
}

.team-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 3rem;
}

.team-title:after {
    content: "";
    padding: 2px;
    background-color:#fff;
    display: flex;
    margin: 0 auto;
    width: 30%;
    margin-top: 1rem;
}

.team-list {
    display: flex;
    justify-content: space-around;
}

.team-list li {
    list-style-type: none;
    margin: 3rem 0;

}

.team-figure {
    width: 160px;
    height: 160px;
    border-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.team-figure img {
    width: 100%;
    filter: grayscale(100%);
}

.team-link:hover .team-figure img {
    filter: none;
}

.team-description {
    display: none;
    flex-direction: column;
    align-items: center;
}

.team-description:target {
    display: flex;
}

.team-name { 
    text-transform: uppercase;
    font-size: 30px;
}

.team-name:after {
    content: "";
    padding: 0px;
    background-color:#fff;
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin-top: 3rem;
}

.team-description-user {
    margin-top: 1rem;
    font-size: 20px;
}